<footer class="footer bg-light text-black">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Будем рады увидеться в стенах нашего университета!</p>
            </div>
            <div class="col-md-6">
                <p>Следите за нами в социальных сетях:</p>
                <ul class="list-inline">
                    <a href="https://vk.com/example" style="font-size: 32px" target="_blank">
                        <i class="fa fa-vk"></i></a>
                    <a href="https://t.me/example" style="font-size: 32px" target="_blank">
                        <i class="fa fa-telegram"></i></a>
                </ul>
            </div>
        </div>
    </div>
</footer>
